@text-font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@body-color: #333F48;
@body-background-color: #fff;

@link-color: #15181E;

@border-radius: 4px;

@element-gap-horizontal: 24px;
@element-gap-vertical: 48px;

@block-gap-horizontal: 24px;
@block-gap-vertical: 48px;

@breakpoint-sm: 576px;
@breakpoint-md: 768px;
@breakpoint-lg: 1032px;
@breakpoint-xl: 1300px;
@breakpoint-xxl: 1384px;
