.feedback {
  width: 100%;
  padding-top: var(--block-gap-vertical, @block-gap-vertical);
  padding-bottom: var(--block-gap-vertical, @block-gap-vertical);
  padding-right: var(--block-gap-horizontal, @block-gap-horizontal);
  padding-left: var(--block-gap-horizontal, @block-gap-horizontal);
  background-color: #333F48;

  h2 {
    color: #fff;
  }

  p {
    color: #8893AA;
  }

  button {
    width: 100%;
  }

  a {
    color: #8893AA;
    border-bottom: 1px solid #8893AA;

    &:hover {
      color: #EB3300;
      border-bottom: 1px solid #EB3300;
    }
  }
}

.feedback__wrap {
  max-width: @breakpoint-lg;
  margin-left: auto;
  margin-right: auto;
}

.feedback__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: ~"calc(var(--element-gap-horizontal, @{element-gap-horizontal}) * -1)";
  margin-bottom: ~"calc(var(--element-gap-vertical, @{element-gap-vertical}) * -1)";
  justify-content: space-between;
}

.feedback__item {
  width: 100%;
  border: 0 solid transparent;
  border-right-width: var(--element-gap-horizontal, @element-gap-horizontal);
  border-bottom-width: var(--element-gap-vertical, @element-gap-vertical);

  &--text {
    @media (min-width: @breakpoint-md) {
      width: 50%;
    }
  }

  &--form {
    @media (min-width: @breakpoint-md) {
      width: 50%;
    }

    @media (min-width: @breakpoint-xl) {
      width: 33.33%;
    }
  }
}
