.header-top {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: -0.02em;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  background-color: #333F48;
  color: #5F7686;
  padding: 24px @block-gap-horizontal;
}

.header-top__call {
  a {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}
