.language {
  color: #15181E;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  @media (min-width: @breakpoint-xl) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -80px;
      right: 0;
      bottom: -20px;
    }
  }
}

.language__flag {
  margin-right: 12px;
}

.language__name {
  margin-right: 8px;
  color: #fff;
}

.language__dropdown {
  position: absolute;
  z-index: 2;
  top: 34px;
  right: 0;
  display: none;

  &--active {
    display: block;
  }

  @media (min-width: @breakpoint-xl) {
    .language:hover & {
      display: block;
    }
  }
}

.language__menu {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
}

.language__item {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 12px;

  &:not(:last-child) {
    border-bottom: 1px solid #F6F7F8;
  }

  .icon {
    margin-right: 16px;
  }

  &--active {
    &::after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.70711 14.2929L19 5L20.4142 6.41421L9.70711 17.1213L4 11.4142L5.41421 10L9.70711 14.2929Z' fill='%23EB3300'/%3E%3C/svg%3E");
      width: 24px;
      height: 24px;
      margin-left: 8px;
    }
  }
}
