.news {
  width: 100%;
  padding-bottom: var(--block-gap-vertical, @block-gap-vertical);

  @media (min-width: @breakpoint-xl) {
    padding-bottom: 136px;
  }

  a {
    &:hover {
      color: @body-color;
    }
  }
}

.news__wrap {
  max-width: @breakpoint-lg;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 64px;

  @media (max-width: @breakpoint-xl - 1px) {
    padding-right: var(--block-gap-horizontal, @block-gap-horizontal);
    padding-left: var(--block-gap-horizontal, @block-gap-horizontal);
  }
}
