.promo__slide {
  padding-left: @block-gap-horizontal;
  padding-right: @block-gap-horizontal;
  display: flex;
  box-sizing: border-box;
  background-repeat: no-repeat;

  background-size: 50% auto;
  background-position: 100% 50%;
  background-color: #F5FAFE;
  position: relative;

  @media (min-width: @breakpoint-xl) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.promo__wrapper {
  padding-top: @block-gap-vertical;
  padding-bottom: @block-gap-vertical;
  max-width: @breakpoint-xxl;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, #F5FAFE, #F5FAFE 50%, rgba(245, 250, 254, 0) 60%);
  position: relative;

  @media (min-width: @breakpoint-xl) {
    padding-right: 40%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.promo__content {
  margin-bottom: 2.4em;
}

.promo__title {
  margin-bottom: 1.2em;

  h1, h2 {
    font-size: 3.75rem;
    line-height: 4.75rem;

    @media (max-width: @breakpoint-md - 1px) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  @media (max-width: @breakpoint-lg - 1px) {
    .nowrap {
      white-space: normal;
    }
  }
}

.promo__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: 100% 50%;
  width: 60%;
  height: 100%;
}

.promo__pagination {
  @media (min-width: @breakpoint-xl) {
    display: none;
  }

  .swiper-pagination-bullet {
    background-color: #EB3300;
  }
}

.promo__prev,
.promo__next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  background: linear-gradient(270deg, #FFFFFF, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;

  &::after {
    display: none;
  }

  @media (max-width: @breakpoint-xl - 1px) {
    display: none;
  }
}

.promo__prev {
  left: 0;
  border-radius: 0 50% 50% 0;
}

.promo__next {
  right: 0;
  border-radius: 50% 0 0 50%;

  svg {
    transform: rotate(180deg);
  }
}

.promo__action {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  @media (max-width: @breakpoint-md - 1px) {
    button:first-child {
      margin-bottom: 8px;
    }
  }

  @media (min-width: @breakpoint-md) {
    flex-direction: row;

    button:first-child {
      margin-right: 24px;
    }
  }
}
